*{
margin:0px;
padding:0;
box-sizing:border-box;
}

h1
{
font-size:100px;
font-family:Callibri;
margin-left:500px;
color:red;
}

p{
font-size:50px;
font-family:Callibri;
margin-left:600px;
color:orange;
}
marquee{
font-size:30px;
font-family:Callibri;
color:yellow;
}

nav
{
background-color:#333;
height:60px;
}

nav ul
{
list-style:none;
}

nav ul li
{
display:inline-block;
}

nav ul li a
{
color:white;
text-decoration:none;
padding:20px 25px;
display:block;
font-size:18px;
}

nav ul li a:hover{
background-color:orange;
color:red;
}

body
{
margin:0;
background-image:url("background.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}

img
{
margin-top:100px;
margin-left:750px;
}

p
{
margin-left:750px;
color:red;
}

table
{
width:100%;
boder-collapse:collapse;
}
